#@data/values
---
enable_network_policy: true

postgres:
  image: "postgres:12"

  resources:
    memory_in_mb: 1024
    storage:
      class_name: local-path
      size: 20Gi

pgbouncer:
  image: "edoburu/pgbouncer:1.12.0"

  pool_size: 12
  max_clients: 100

exporter:
  image: "wrouesnel/postgres_exporter:v0.8.0"

pgbackup:
  image: "jamesclonk/pgbackup:aee0398bd7634f209ecd7e1ec03f55002c3c3a57"

  enabled: false # TODO: change for prod
  schedule: "55 5 * * *"
  file_retention: "21"

  resources:
    memory_in_mb: 1024
    storage:
      class_name: local-path
      size: 20Gi
