name: configure firewall

on:
  workflow_dispatch:

env:
  SOPS_AGE_KEY: ${{ secrets.SOPS_AGE_KEY }}

jobs:
  firewall:
    name: firewall
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: setup
      if: ${{ always() }}
      run: ./setup.sh
    - name: configure firewall
      run: task hetzner:firewall
    - name: cleanup
      if: ${{ always() }}
      run: task cleanup
