name: deploy k3s on hetzner cloud

on:
  workflow_dispatch:

env:
  SOPS_AGE_KEY: ${{ secrets.SOPS_AGE_KEY }}

jobs:
  hetzner-k3s:
    name: kubernetes
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: setup
      if: ${{ always() }}
      run: ./setup.sh
    - name: install and upgrade k3s on hetzner cloud
      run: task hetzner:deploy
    - name: cleanup
      if: ${{ always() }}
      run: task cleanup

  kube-system:
    name: kube-system
    needs: [ hetzner-k3s ]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: setup
      if: ${{ always() }}
      run: ./setup.sh
    - name: prepare kube-system namespace
      run: task kube-system:deploy
    - name: cleanup
      if: ${{ always() }}
      run: task cleanup
