name: kubernetes infrastructure and cluster

on:
  push:
    branches: [ master ]

env:
  SOPS_AGE_KEY: ${{ secrets.SOPS_AGE_KEY }}

jobs:
  hetzner-k3s:
    if: "!contains(github.event.head_commit.message, 'skip')"
    name: kubernetes
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: setup
      if: ${{ always() }}
      run: ./setup.sh
    - name: install and upgrade k3s on hetzner cloud
      run: task hetzner:deploy
    - name: cleanup
      if: ${{ always() }}
      run: task cleanup

  kube-system:
    if: "!contains(github.event.head_commit.message, 'skip')"
    name: kube-system
    needs: [ hetzner-k3s ]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: setup
      if: ${{ always() }}
      run: ./setup.sh
    - name: prepare kube-system namespace
      run: task kube-system:deploy
    - name: cleanup
      if: ${{ always() }}
      run: task cleanup

  ingress-nginx:
    if: "!contains(github.event.head_commit.message, 'skip')"
    name: ingress-nginx
    needs: [ kube-system ]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: deploy kubernetes ingress controller
      run: task ingress-nginx:deploy
    - name: cleanup
      if: ${{ always() }}
      run: task cleanup

  cert-manager:
    if: "!contains(github.event.head_commit.message, 'skip')"
    name: cert-manager
    needs: [ ingress-nginx ]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: setup
      if: ${{ always() }}
      run: ./setup.sh
    - name: deploy cert-manager for let's encrypt
      run: task cert-manager:deploy
    - name: cleanup
      if: ${{ always() }}
      run: task cleanup

  dex:
    if: "!contains(github.event.head_commit.message, 'skip')"
    name: dex
    needs: [ cert-manager, ingress-nginx ]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: deploy dex
      run: task dex:deploy
    - name: cleanup
      if: ${{ always() }}
      run: task cleanup

  oauth2-proxy:
    if: "!contains(github.event.head_commit.message, 'skip')"
    name: oauth2-proxy
    needs: [ dex ]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: deploy oauth2-proxy
      run: task oauth2-proxy:deploy
    - name: cleanup
      if: ${{ always() }}
      run: task cleanup

  kubernetes-dashboard:
    if: "!contains(github.event.head_commit.message, 'skip')"
    name: kubernetes-dashboard
    needs: [ oauth2-proxy, cert-manager ]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: setup
      if: ${{ always() }}
      run: ./setup.sh
    - name: deploy kubernetes dashboard
      run: task kubernetes-dashboard:deploy
    - name: cleanup
      if: ${{ always() }}
      run: task cleanup

  postgres:
    if: "!contains(github.event.head_commit.message, 'skip')"
    name: postgres
    needs: [ kube-system ]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: setup
      if: ${{ always() }}
      run: ./setup.sh
    - name: deploy postgres database
      run: task postgres:deploy
    - name: cleanup
      if: ${{ always() }}
      run: task cleanup

  kube-state-metrics:
    if: "!contains(github.event.head_commit.message, 'skip')"
    name: kube-state-metrics
    needs: [ kube-system ]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: setup
      if: ${{ always() }}
      run: ./setup.sh
    - name: deploy kube-state-metrics
      run: task monitoring:deploy-kube-state-metrics
    - name: cleanup
      if: ${{ always() }}
      run: task cleanup

  prometheus:
    if: "!contains(github.event.head_commit.message, 'skip')"
    name: prometheus
    needs: [ oauth2-proxy, cert-manager, kube-state-metrics ]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: setup
      if: ${{ always() }}
      run: ./setup.sh
    - name: deploy prometheus
      run: task monitoring:deploy-prometheus
    - name: cleanup
      if: ${{ always() }}
      run: task cleanup

  prometheus-msteams:
    if: "!contains(github.event.head_commit.message, 'skip')"
    name: prometheus-msteams
    needs: [ oauth2-proxy, cert-manager, kube-state-metrics ]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: setup
      if: ${{ always() }}
      run: ./setup.sh
    - name: deploy prometheus-msteams proxy
      run: task monitoring:deploy-prometheus-msteams
    - name: cleanup
      if: ${{ always() }}
      run: task cleanup

  loki:
    if: "!contains(github.event.head_commit.message, 'skip')"
    name: loki
    needs: [ oauth2-proxy, cert-manager ]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: setup
      if: ${{ always() }}
      run: ./setup.sh
    - name: deploy loki
      run: task monitoring:deploy-loki
    - name: cleanup
      if: ${{ always() }}
      run: task cleanup

  grafana:
    if: "!contains(github.event.head_commit.message, 'skip')"
    name: grafana
    needs: [ prometheus, loki ]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: setup
      if: ${{ always() }}
      run: ./setup.sh
    - name: deploy grafana
      run: task monitoring:deploy-grafana
    - name: cleanup
      if: ${{ always() }}
      run: task cleanup

  testing:
    if: "!contains(github.event.head_commit.message, 'skip')"
    name: k8s e2e testing
    needs: [ postgres, grafana, kubernetes-dashboard ]
    runs-on: ubuntu-latest
    steps:
    - name: checkout k8s-testing
      uses: actions/checkout@v3
      with:
        repository: JamesClonk/k8s-testing
        ref: master
    - name: setup ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '2.7'
        bundler-cache: true
    - name: setup chrome
      uses: ./.github/actions/setup-chrome

    - uses: actions/checkout@v3
      with:
        path: repo
    - name: setup kubeconfig
      working-directory: repo
      run: ./setup.sh

    - name: run k8s-testing specs
      run: |
        export KUBECONFIG=${HOME}/.kube/k8s-infrastructure
        make test

    - name: cleanup
      if: ${{ always() }}
      working-directory: repo
      run: |
        rm -f ${HOME}/.kube/k8s-infrastructure || true
        ./cleanup.sh
