name: restart k3s service

on:
  workflow_dispatch:

env:
  SOPS_AGE_KEY: ${{ secrets.SOPS_AGE_KEY }}

jobs:
  restart-k3s:
    name: restart-kubernetes
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: setup
      if: ${{ always() }}
      run: ./setup.sh
    - name: restart k3s service
      run: task hetzner:restart
    - name: cleanup
      if: ${{ always() }}
      run: task cleanup
